a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;

}
p, h1, h2, h3, h4, h5, h6{
    margin:0;
}
img{
    display:block;
}

.container {
    width:1158px;
    padding: 0 15px;
    margin:0 auto;
}
/* =======header=================================================== */

.caption {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.cont-head{
    display: flex;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.nav-menu{
    display: flex;
    gap: 40px;
}

.home{
    display: flex;
    margin-left: auto;
}

.address-list{
    display: flex;
    gap: 40px;
}
.logo{
        color: #4d5ae5;
        font-family: "Raleway",sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
}

.logo-web{
    color:#2e2f42;
}
.nav-text{
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;

        display: block;
        padding: 24px 0;
}

.home{
    font-style: normal;
}

.logo:hover,
.logo:focus{
    color:#404BBF
}

.nav-text:hover,
.nav-text:focus {
    color: #404BBF;
}
.address-text{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-text{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-text:hover,
.address-text:focus{
    color:#404BBF;
}


.current-page{
    position: relative;
    color:#404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page::after{
    position: absolute;
    content: '';
    left:0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    
}

/* ================= ===================================================*/
/* section 1  hero*/
.section-one {
    max-width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.solutions{
    color:  #FfffFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;

    margin: 0 auto;
    margin-bottom: 48px;
    width: 100%;
    max-width: 496px;
    
}

.but-order{
    display: block;
    min-width: 169px;
    height: 56px;
   
    font-family: "Roboto", sans-serif;
    background: #4D5AE5;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    border:none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.but-order:hover,
.but-order:focus{
    background-color:#404BBF;
}
/* =========================================== */
/* section 2 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list{
    display: flex;
    gap: 24px;
    /* padding: 120px 0; */

}
.features-list .features-item{
width: calc( (100% - 72px) / 4);
}

.features{
    color:#2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.icon-back{
    display: flex;
    background-color:#F4F4FD ;
    border-radius: 4px;
    border: 1px solid  #8E8F99;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    /* width: 264px; */
    height: 112px;
    padding: 24px 100px;
    
}


.features-text{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
/* .features-item:not(:last-child) {
    margin-left: 24px;
} */
.features-te{
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sec-two{
    padding: 120px 0;
}


/* =============================================== */
/* section 3 */
.sec-three{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.three-num{
    background-color: #FFFFFF;
    /* padding-bottom: 32px; */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    /* padding-bottom: 32px; */
    /* margin-bottom: 120px; */
    /* margin-top: 120px;
    margin-bottom: 120px; */
}

.head-list{
    display: flex;
    gap:24px

}

.headline {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* padding-top: 120px; */
        /* padding-bottom: 72px; */
    margin-bottom: 72px;
    /* margin-top: 120px; */
}

.employees {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.box-workers{
    padding: 32px 0;
}


.human {
    text-align: center;
    text-align: center;
    margin-bottom: 8px;
}
.features-text{
    text-align: center;
}


.social-link{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    padding: 12px;
    justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
    background-color:#404BBF ;
}

.social-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    
}

/* .social-site{
margin-bottom: 32px;
} */

.social-item{
    width: 40px;
    height: 40px;

}

.social-svg{
fill: #f4f4fd;
}


 /* < !--section portfolio==============================--> */
.sec-four{
    padding-top: 120px;
    padding-bottom: 120px;
}
.services{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    row-gap: 48px;
}

.products{
width: 360px;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.portfolio-overlay{
    position: relative;
    overflow: hidden;
}

.products:hover,
.products:focus {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;

    color: #F4F4FD;
        font-family: "Roboto" sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
        background-color: #4D5AE5;
}

.products:hover .overlay-text{
    transform: translateY(0);
}

/* ========footer================================================ */
.studio{
    display: inline-block;
color: #4d5ae5;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.end{
    background: #2E2F42;
    padding: 100px 0;
    display: flex;
   

}
.logo-stu{
    color:#F4F4FD;
}
.end-text{
color:  #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* margin-bottom: 100px; */
    width: 264px;
}

.foot{
    display: flex;
    align-items: baseline;
    margin: 0 auto;
    /* display: flex; */
}

.footer-studio{
margin-right: 120px;
}
.footer-last{
    color:#FFFFFF;
    font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        /* text-align: center; */
        margin-bottom: 16px;
}

.social-link-footer:hover,
.social-link-footer:focus{
background-color: #31d0aa;
}

.social-list-footer{
    gap: 16px;
}
